:root {
    --poppin-font: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    font-family: var(--poppin-font);
}

.library-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 40vh 60vh;
}

.backdrop-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #faebd7;
}

.backdrop-container p {
    flex: 1;
    border: 0.5rem double #000000;
    padding: 1rem;
    margin: 10rem;
    font-size: 2.5rem;
    text-align: center;
}

.backdrop-container form {
    display: block;
    flex: 1;
    width: 40vw;
    margin: 10rem;
    margin-left: auto;
}

fieldset input {
    height: 1.5rem;
    margin: 5px;
}

form button {
    background-color: #f58023;
    height: 2rem;
    width: 6rem;
    margin-top: 2px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
}

form button:hover {
    border: 1px solid #ffffff;
}